[Desktop Entry]
Encoding=UTF-8
Name=UCI Machine Learning Repository: Statlog (Australian Credit Approval) Data Set
Type=Link
URL=http://archive.ics.uci.edu/ml/datasets/Statlog+(Australian+Credit+Approval)
